.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea
.vscode
.cursor
.ssl
*.log*
**/*/db.json
dist
node_modules
coverage
.nyc_output
*.tsbuildinfo
.cache
.temp
.tmp
*.tmp
*.temp
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*
.pnpm-debug.log*
